.header-navbar{
    height: 100px;
    .logo{
        width: 75px;
    }

    .links{
        a{
            margin: 0 10px;
            color: black;
            text-decoration: none;
            font-weight: bold;
            height: 100%;
            transition: all 0.3s;
        }

        a:hover{
            border-bottom: 4px solid #0282f9;
            color: #0282f9;
            cursor: pointer;
            transition: all 0.3s;
        }
    }

    .header-search{
        border: none;
        border-bottom: 2px solid #0282f9;
        text-align: end;
    }

    .header-search::placeholder{
        color: black;
    }
}

.jumbotron{
    height: 500px;
    position: relative;
    background: url("/images/jumbotron.jpg") no-repeat;
}